@charset "utf-8";
/* CSS Document */

/*.wrap { margin-top: 150px; }*/

ul.tabs {
  width: 600px;
  height: 80px;
  /*margin: 0 auto;*/
  list-style: none;
  overflow: hidden;
  padding: 0;
}

ul.tabs li {
  float: left;
  width: 200px;
}

ul.tabs li a {
  position: relative;
  display: block;
  //height: 30px;
  margin-top: 40px;
  //padding: 10px 0 0 0;
  padding: 15px 0 0 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background: #1abc9c;
  -webkit-box-shadow: 8px 12px 25px 2px rgba(0,0,0,0.4);
  -moz-box-shadow: 8px 12px 25px 2px rgba(0,0,0,0.4);
  box-shadow: 8px 12px 25px 2px rgba(0,0,0,0.4);
  border: 0px solid #000000;
  -webkit-transition: padding 0.2s ease, margin 0.2s ease;
  -moz-transition: padding 0.2s ease, margin 0.2s ease;
  -o-transition: padding 0.2s ease, margin 0.2s ease;
  -ms-transition: padding 0.2s ease, margin 0.2s ease;
  transition: padding 0.2s ease, margin 0.2s ease;
}

.tabs li:first-child a {
  z-index: 3;
  -webkit-border-top-left-radius: 8px;
  -moz-border-radius-topleft: 8px;
  border-top-left-radius: 8px;
}

.tabs li:nth-child(2) a { z-index: 2; }

.tabs li:last-child a {
  z-index: 1;
  -webkit-box-shadow: 2px 8px 25px -2px rgba(0,0,0,0.3);
  -moz-box-shadow: 2px 8px 25px -2px rgba(0,0,0,0.3);
  box-shadow: 2px 8px 25px -2px rgba(0,0,0,0.3);
  -webkit-border-top-right-radius: 8px;
  -moz-border-radius-topright: 8px;
  border-top-right-radius: 8px;
}

ul.tabs li a:hover {
  margin: 35px 0 0 0;
  padding: 10px 0 5px 0;
}

ul.tabs li a.active {
  //margin: 30px 0 0 0;
  padding: 10px 0 10px 0;
  background: #222323;
  color: #D3FEF5;
  /*color: #ff6831;*/
  z-index: 4;
  outline: none;
}

.group:before,
.group:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.group:after { clear: both; }

#panels {
  width: 600px;
 // height: 300px;
  /*margin: 0 auto;
  background: #2c3e50;*/
  background: #222323;
  -webkit-box-shadow: 2px 8px 25px -2px rgba(0,0,0,0.3);
  -moz-box-shadow: 2px 8px 25px -2px rgba(0,0,0,0.3);
  box-shadow: 2px 8px 25px -2px rgba(0,0,0,0.3);
  -webkit-border-bottom-right-radius: 8px;
  -webkit-border-bottom-left-radius: 8px;
  -moz-border-radius-bottomright: 8px;
  -moz-border-radius-bottomleft: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

#panels .tab-accordian {
  font-family: 'Open Sans', sans-serif;
  padding: 30px 40px;
  color: #ffffff;
  line-height: 26px;
  font-size: 15px;
  margin: 0;
}

#one { }

#two { display: none; }

#three { display: none; }

.img-preview{
	background:url(../image/fab.jpg) no-repeat center;
	background-size: cover;
	width:500px;
	height:200px;
}

.img-preview-description{
	background:#000;
	width:500px;
	height:50px;
	margin-top:-50px;
	position:absolute;
	opacity:0.5;
}

.txtleft{
	float:left;
}

h4.txtleft{
    margin-top: 4px;
    margin-left: 10px;
}

.txtright{
    margin-top: 4px;
    margin-right: 10px;	
}



.txtright{
	float:right;
}

.desc{
  font-size:14px;
  text-align:left;	
  margin-top: -2px;
}

/************ image gallery styles **********************/
/*.img-gallery{
	height:130px;
	width:130px;

}*/

.images{
	padding:2px;
	height:120px;
	width:120px;
	border:1px solid #FFF;
}

.style-heading{
	font-size:16px;
	font-weight:normal;
}

.txtblack{
	color:#000;
}


.wrap{
	float:left;
}
.canvasdiv{
	float:left;
}

.canvasdiv img{
	margin-left:50px;
	margin-top:20px;
	position:fixed;
}
